doctype html
html
head
    title Look Out Below
    script(src='/js/square.js')
    script(src='/js/player.js')
    script(src='/js/canvas_utils.js')
    script(src='/js/game.js')
    style
      include ../assets/css/app.css

  body(onload='TP.init()')
    span#outerContainer
      h1 Area of Expertise
      section#scoreboard
        h1#p1name Player 1
        h3#p1score
      section#gameboard
        canvas#canvas(width='800', height='600')
          p This is a canvas element.  I could put fallback image/something here.
      section#scoreboard2
        h1#p2name Player 2
        h3#p2score
